@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .md-btn {
    @apply px-12 bg-white h-24 rounded-full shadow-md;
  }
}

html {
  scroll-behavior: smooth;
}

.shadow-tl-hack {
  box-shadow: 10px 0 0 0 black;
}
.shadow-br-hack {
  box-shadow: 0 -10px 0 0 black;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
